mat-form-field {
  width: 100%;
}

mat-card {
  margin-top: 5%;
}

mat-spinner {
  margin: auto;
}

input[type=file] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  max-height: 100%;
}
